body {
    font-family: 'Archivo', sans-serif;
    font-size: larger;
    height: 100%;
    margin: auto;
    background: linear-gradient(rgb(236, 236, 226), rgb(138, 135, 123));
    /*min-width: 900px;*/
}



/* Navigation */

nav {
    position: sticky;
    top: 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: rgb(224, 224, 221);
    z-index: 100;
}


.nav-items a {
    padding: 0px 60px 0px 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size:small
}

.nav-items .nav-login {
    float: right;
}

nav .nav-items .logo {
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    float: left;
    letter-spacing: 2px;
}

.nav-items a:hover {
    color: #fff;
    transition: color 0.2s ease-out 0s;
}



.nav-login .ti {
    font-size: x-large
}

@media screen and (max-width: 1250px) {
    .nav-items .nav-item {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .nav-items a{
        padding: 0 10px 0 10px;
    }
}

.nav-items .active{
    color: rgb(255, 255, 255);
}


/* Main */

main{
    width: 100%;
    height: 120vh;
}

.wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
}

.table{
    font-size: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 500px;
}

.table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    width: 150px;
    text-align: center;
    padding: 3px;
}
td{
    min-width: 70px;
}

th{
    text-transform: uppercase;
    background-color: rgb(211, 206, 200);
}

td:hover{
    transition: 0.5s ease all;
    background-color: rgb(172, 169, 166);
}

.btn {
    position: absolute;
    /*relative*/
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(115, 119, 115);
    font-size: 20px;
    padding: 2px 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.btn:hover {
    background-color: #684286;
    cursor: pointer;
  }


/* Statistics */

hr{
    margin: 2cm;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 1px;
}
.statistics{
    text-align: center;
    height: 180vh;
}

.statistics h1{
    text-transform: uppercase;
    margin-bottom: 90px;
    text-shadow: 6px 6px 10px #000;
    font-size: 40px;
    text-shadow: none;
    letter-spacing: 12px;
    text-shadow: 6px 6px 10px rgb(255, 255, 255);
}

.statistics p{
    font-size: larger;
    padding: 15px;
}

.plot {
    margin: 10vmin auto;
    border-radius: 50%;
    width: 60vmin;
    height: 60vmin;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(-21deg, #8b8083 50%, transparent 50%), linear-gradient(to right, #8b8083 50%, #c4d6c6 50%);
  }
  
  
.women {
    margin: 15vmin 0 0 20vmin;
    text-transform: uppercase;
    font-weight: bold;
}
  
.men {
    text-transform: uppercase;
    margin: 20vmin 25vmin 25vmin 10vmin;
    font-weight: bold;
}

/* Profile Edit */

.profile{
    text-align: center;
    display: block;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 50px;
    width: 40%;
    height: 650px;

    border-radius: 5px;
    box-shadow: 10px 8px 10px 8px  rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(15, 15, 15, 0.19);
}


.photo{
display: block;
margin-left: auto;
margin-right: auto;
height: auto;
width: 200px;
align-items: center;
padding: 40px;
}

.profile-info .btn{
    margin-top: 30px;
}


footer {
    position: relative;
    background-color: rgb(224, 224, 221);
    text-align: center;
    padding: 2px 0px;
    width: 100%;
}